*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    margin: 2.2rem 0rem;
    padding: 0rem 1.5rem;


}
#line1 , #line2, #line3{
    width: 2px;
    height: 90px;
    background-color: black;
}
.logo i{
    font-size: 1rem;
    font-weight: 100;
    padding-left: 8rem;
    margin-top: 7rem;
    
  

}

.logo p{
    font-size: .75rem;
    padding-left: 3rem;
}
#main-video{
    width: 1350px;
    height: 640px;
    object-fit: cover;
    margin: 0rem 2.75rem;
    position: relative;
   
   
}

.video-leyar{
    width: 1350px;
    height: 324px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    margin: 0px 43px;
    gap: 2px;
    position: absolute;
    bottom: 14px;
    color: rgba(238, 234, 234, 0.959);
    /* background-color: rgba(255, 255, 255, 0.519); */
    background-color: #928e8850;

}
.upper{
 
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}
.upper h2{
    font-size: 60px;
    color: white;
}
.upper p{
    padding: 30px;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 18px;
}

.mid{
   
    width: 90%;
    height: 2px;
    background-color: rgb(247, 247, 247);
}
.bottom{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
}
.bottom h3{
    color: white;
    font-weight: 100;
}
.bottom i{
  
    font-size: 40px;
    font-weight: 100;
    color: white;
}

  marquee{
    white-space: nowrap;
    direction: ltr;
    overflow: hidden;
    

  }
   
   
    

marquee>img{
    height: 250px;
    width: 230px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 70px;
   
    display: inline-block;
    

}

marquee img{
    position: relative;
    left: 100%;
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        right: -100%;
    }
    100% {
        right: 0%;
    }
}

.main-part3{
    width: 100%;
}
.part3-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

#hr1{
    border: 1px solid black;

}
.left{
    width: 5%;
    padding-left: 20px;
    font-size: 25px;
    text-transform: uppercase;

}
.right{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.hr2{
    border: 1px solid black;

}

.main-part4{
    width: 100%;
    height: 80vh;
    display: flex;
  
    justify-content: center;
    padding: 2rem 6rem;
    gap: 3.5rem;
}

.main-part4-left img{
    height: 80vh;
    width: 600px;
    object-position: top;
    object-fit: cover;

}

.main-part4-right img{
    height: 60vh;
    width: 600px;
    object-position: center;
    object-fit: cover;
   
}
.main-part4-right-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.main-part4-right-cont-para1{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}
.main-part4-right-cont-para2{
    font-size: 17px;
    font-weight: 700;
    margin-top: -20px;
}

.main-part5{
    width: 100vw;
    height: 90vh;

}
.main-part5>h2{
    text-align: center;
    text-transform: uppercase;
    margin-top: 7rem ;
    font-size: 48px;
    margin-bottom: 2rem;
   
}
.hr-line{
    border: 1px solid black;
    width: 95%;
    margin: 2rem 2rem;

}

.item1 , .item2, .item3, .item4{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0rem 2.5rem;
  
   
}
.item-left{
    width: 50%;
    text-transform: uppercase;
    font-size: 17px;
}
.item-right{
    width: 50%;
    font-size: 40px;
    font-weight: 400;
}
.item-right-date{
    font-size: 14px;
    font-weight: bold;
}

.main-part6{
    width: 100vw;
    height: 100vh;
   
    
}
.main-part6-left{
    width: 50%;
    height: 80%;
    float: left;
    padding-left: 30px;
}
.main-part6-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.main-part6-right{
    width: 50%;
    height: 100%;
    float: right;
    padding-left: 70px;
    
}
.main-part6-right img{
    width: 43%;
    height: 41.755%;
    object-fit: cover;
    object-position: start;
}
.main-part6-right h2{
    font-size: 48px;
    font-weight: 200;
    text-transform: uppercase;
   
}
.main-part6-right h3{
    width: 350px;
    font-size: 27px;
    font-weight: 300;
    margin-top: 18px;
}
.main-part6-right p{
    width: 400px;
    font-size: 18px;
    font-weight: 100;
    margin-top: 16.5px;
}
.main-part6-right img{
    margin-top: 27px;
}

.main-part7{
    height: 90vh;
    width: 90vw;
    margin-bottom: 20px;
}
.main-part7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    margin: 0rem 4rem;
}

.main-part8{
    margin-top: 1000px;
    width: 100vw;
    height: 100vh;
  display: flex;
  padding: 67px;
}
.main-part8-left{
    width: 50%;
    height: 100%;
   
}
.main-part8-left img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    object-position: top;
}
.main-part8-right{
    width: 50%;
    height: 100%;
    margin-left: 80px;
   
}
.main-part8-right img{
    width: 97%;
    height: 60%;
    object-fit: cover;
    object-position: top;
}

.main-part8-right-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.main-part8-right-content1{
    width: 35%;
    margin-top: 20px;
    font-size: 27px;
    font-weight: 500;

}
.main-part8-right-content2{
    font-size: 17px;
    font-weight: 100;
    width: 38%;
    margin-top: -41px;
    text-align: start;

}
#main-marquee{
 
    align-items: center;
    justify-content: center;
   
}

.marquee{
    width: 100%;
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
   
    font-size: 3.5vw;
    text-transform: uppercase;
    font-weight: 900;
    color: transparent;
    white-space: 3px;
    margin-right: 16px;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-text-stroke: 2px black;
}


@keyframes move {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.hr3,.hr4{
    border: 1px solid black;
    width: 100%;
    margin: 1rem 0rem;


}

.main-part9{
    display: flex;
    margin-top: 60px;
   
    justify-content: space-evenly;
}
.main-part9 h2{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
}
.main-part9-right1 img{
    height: 330px;
    width: 380px;
    object-fit: cover;
    margin-top: 30px;
}
.main-part9-right1 p{
 
    width: 370px;
    font-size: 22px;


}
.main-part9-right2 img{
    height: 330px;
    width: 380px;
    object-fit: cover;
    object-position: top;
    margin-top: 40px;
}
.main-part9-right2 p{
 
    width: 370px;
    font-size: 20px;
 

}

#line-foot1{
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 6150px;
}

#main-part10{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2450px;
    width: 100vw;
    height: 600px;
    position: relative;


}
#line-foot2{
    width: 100%;
    height: 2px;
    background-color: black;
    
    position: absolute;
    top: 6500px;
}
#line7{
    height: 350px;
    width: 2px;
    position: absolute;
    margin-top: 40px;
    right: 860px;
    background-color: black;
    
}
#line8{
    height: 350px;
    width: 2px;
    position: absolute;
    margin-top: 40px;
    right: 400px;
    background-color: black;

    
}
